# Virtual environments
.venv/
.uv/

# IDE settings
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Build artifacts
main.build/
main.dist/
main.onefile-build/
main.exe
SINEX Studio.exe
SINEX Studio TRF.exe
SINEX TRF Studio.exe



# Misc OS files
Thumbs.db
.vscode/settings.json
